.publish-container {
  padding: 20rpx;
  background-color: #f8f8f8;
}

.page-title {
  background-color: #ffd700;
  padding: 20rpx;
  text-align: center;
}

.title {
  font-size: 32rpx;
  color: #333;
}

.no-goods {
  text-align: center;
  font-size: 28rpx;
  color: #888;
  margin-top: 40rpx;
}
