.about-container {
  padding: 20rpx;
  background-color: #f8f8f8;
}

.page-title {
  background-color: #FFD700; /* 使用你应用的主题色 */
  padding: 20rpx;
  text-align: center;
  font-size: 32rpx;
  color: #333;
}

.content {
  margin-top: 40rpx;
  padding: 20rpx;
  background-color: #fff;
  border-radius: 8rpx;
}

.content-text {
  font-size: 28rpx;
  color: #333;
  line-height: 40rpx;
}

.contact-info {
  margin-top: 40rpx;
  padding: 20rpx;
  background-color: #fff;
  border-radius: 8rpx;
}

.contact-text {
  font-size: 24rpx;
  color: #666;
}

.version-info {
  margin-top: 40rpx;
  padding: 20rpx;
  background-color: #fff;
  border-radius: 8rpx;
}

.version-text {
  font-size: 24rpx;
  color: #666;
}
