.goods-list {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr); /* 两列 */
  // gap: 20rpx; /* 列间距 */
  // padding: 20rpx;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 严格等分 */
  gap: 20rpx; /* 列间距 */
  padding: 20rpx;
  box-sizing: border-box;
}

.goods-item {
  // width: 48%; /* 宽度减去边距 */
  // margin-bottom: 20rpx;
  // background: #fff;
  // border-radius: 16rpx;
  // box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.08);
  // overflow: hidden; /* 防止内容溢出圆角 */
    background: #fff;
    border-radius: 16rpx;
    box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.goods-info {
  margin-top: 10rpx;
}

.goods-name {
  font-size: 32rpx;  /* 增大商品名称字体 */
  color: #333;
  font-weight: bold;
}

.goods-price {
  font-size: 28rpx;  /* 增大商品价格字体 */
  color: #f3514f;
  margin-top: 6rpx;
}

.goods-category {
  font-size: 26rpx;  /* 增大商品类别字体 */
  color: #71797f;
  margin-top: 6rpx;
}
